<app-navbar></app-navbar>
<div class="ng-container">
  <div class="row">
    <div class="col-md-12 centrado">
      <img src="../../../assets/kaos.jpg" />
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12 centrado" *ngIf="user">
      <h3>Hola {{ user.displayName }}!</h3>
      <button class="btn btn-danger" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i> Salir
      </button>
    </div>
    <div class="col-md-12 centrado" *ngIf="!user">
      <button class="btn btn-primary" (click)="login()">
        Entrar con Google
      </button>
    </div>
  </div>
</div>
