<div class="jumbotron">
  <h1 class="display-4">Bar Ilusion</h1>
  <p class="lead">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore temporibus
    aperiam officia ratione voluptatum incidunt non autem tenetur, velit
    explicabo, nostrum debitis at praesentium cum architecto? Numquam fuga
    maxime rerum.
  </p>
</div>
<div class="ng-container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <img src="../../../assets/kaos.jpg" />
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" (click)="navegarACajero()">
        <i class="fa fa-money"></i> Entrar
      </button>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
