<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>Seleccione una Categoria</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="dropdown">
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenu2"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Categoria
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button
              class="dropdown-item"
              type="button"
              (click)="setCategoria(0)"
            >
              Todos
            </button>
            <button
              class="dropdown-item"
              type="button"
              (click)="setCategoria(1)"
            >
              Tequila
            </button>
            <button
              class="dropdown-item"
              type="button"
              (click)="setCategoria(2)"
            >
              Ron
            </button>
            <button
              class="dropdown-item"
              type="button"
              (click)="setCategoria(3)"
            >
              Wiskey
            </button>
            <button
              class="dropdown-item"
              type="button"
              (click)="setCategoria(4)"
            >
              Vodka
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
