<div class="jumbotron">
  <h1 class="display-4">Bar Ilusion</h1>
  <p class="lead">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore temporibus
    aperiam officia ratione voluptatum incidunt non autem tenetur, velit
    explicabo, nostrum debitis at praesentium cum architecto? Numquam fuga
    maxime rerum.
  </p>
</div>
<div class="ng-container">
  <div class="row">
    <div class="col-md-3">
      <app-categorias></app-categorias>
    </div>
    <div class="col-md-9">
      <app-drinks></app-drinks>
    </div>
  </div>
</div>
